/*GERAIS*/
body {
    background-color: black;
}

header{
    padding: 50px;
    background: linear-gradient(
        180deg,
        rgba(0,0,0,0.69) 0%
        rgba(0,0,0,0) 100%
    );
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 2;
}

.btn-custom-white{
    background-color: white;
}

.btn-custom-translucent{
    background-color: rgba(255,255,255,0.2);
    color: white;
}

.btn-custom-white:hover{
    color: white;
    opacity: 0.8;
}

.btn-custom-translucent:hover{
    opacity: 0.8;
}

.btn-custom-round{
    padding: 5px 9px !important;
}

/* LOGIN */
.menu_list{
    list-style: none;
    padding-left: 0;
    padding-top: 7px;
}

.menu_list li{
    display: inline-block;
    margin-left: 15px;
}

.menu_list a{
    color: white;
}

#hero{
    height: 700px;
    background-image: url(assets/capa.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    z-index: 1;
    top:0;
}

#hero::after{
    content: '';
    width: 100%;
    height: 350px;
    display: block;
    background: linear-gradient(180deg, rgba(0,0,0,0)0%, #000000 100%);
    position: absolute;
    left: 0;
    z-index: 2;
    top: calc(700px - 350px);
    
}

#hero_infos{
    padding: 0;
    margin-top: 170px;
    z-index: 3;
    position: relative;
}

#hero_infos h1 {
    margin-bottom: 60px;
}

#main-content{
    margin-top: 700px;
}

.filmes_lista{
    overflow-x: scroll;
    list-style: none;
    white-space: nowrap;
    padding: 20px 0;
    display: block;
    border: 1px solid transparent;

}

.filmes_lista::-webkit-scrollbar{
    display: none;
}

.filme{
    display: inline-block;
    width: 250px;
    margin-right: 10px;
    border-radius: 3px;
    overflow:hidden;
    transition: 0.5s;
    overflow: auto;
    border: 1px solid transparent;
    overflow-y: hidden;
}

.filme:hover{
    cursor: pointer;
    transform: scale(1.2);
    z-index: 999;
    transform: 0.5s;
}

.filme:hover .filme_info{
    transform: scale(1);
    transition: 0.5s;
}

.filme:first-child{
    margin-left: 70px;
}
 .filme_info{
     background-color:#171717 ;
     padding: 20px;
     height: 100px;
     width: 100%;
     transform: scale(0);
 }

 .filme_info.col-12{
     margin-top: 5px;
 }

 .filme_info .col-12:first-child{
     margin-bottom: 20px;
     padding-left: 0;
 }

 .filme_info h4 {
     color:white;
     font-size: 12px;
 }

 .filme_info p {
     color:#fff
 }

 section{
     margin-bottom: -100px;
     position: relative;
 }

 section:hover{
     z-index: 9;
 }

 /*MODAL*/
 .modal-dialog, .modal-conent{
     background: #171717;
 }

 .modal-dialog{
     max-width: 600px;
 }

 .modal-hero{
     height: 300px;
     background-image: url(assets/capa.png);
     background-position: center ;
     background-size: cover;
     background-repeat: no-repeat;
     padding: 40px;
 }

 .modal-hero img{
     width: 250px;
     margin-bottom: 30px;
     margin-top: 30px;
     position:relative;

 }

 .footer {
     padding: 50px;
     padding-left: 40px;
     display: inline-flex;
 }

 .footer h1{
     color: white;
 }

 .footer p{
    color: white;
}





